@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&family=Fasthand&family=IBM+Plex+Sans&family=Kaushan+Script&family=Source+Sans+Pro&family=Ubuntu&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Alkatra', cursive;
font-family: 'Delicious Handrawn', cursive;
font-family: 'Fasthand', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
